html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: lightblue;
    display: flex;
    height: 100%;
    margin: 0;
}

.box {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.title-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 0;
}

.title {
    text-align: center;
    font-size: 3.5vw;
}

.main-container {
    display: flex;
    height: 50%;
    width: 100%;
    flex-direction: column;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    justify-content: space-between;
    align-items: center;  
}

.main-container-content {
    display: flex;
    flex: 1;
    width: 100%;

}
.main-container-content button {
    width: 100%;
    border: hidden;
    justify-content: center;
    align-items: center;
}

.play-game-button {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.rock-button {
    border-top-left-radius: 30px;
}

.scissors-button {
    border-top-right-radius: 30px;
}

.main-container-content button:hover {
    cursor: pointer;
}

.choice {
    display: none;
    width: 100%;
}

.result-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    justify-content: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.result-container div {
    display: flex;
    align-items: center;
}

.round-decision {
    border: solid;
    flex: 1;
    text-align: center;
    justify-content: center;
}

.scores {
    
    justify-content: space-evenly;
    flex: 1;
    border: solid;
}

.scores div {
    height: 100%;
    padding: 0 5px;
}

.game-decision {
    
    justify-content: center;
    flex: 1;
    border: solid;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
}

